<h1>| Pseudo Galton Board |</h1>

<button mat-raised-button color="primary" id="start-bttn" (click)="start_func()">
    <span>Start</span>
</button>

<button mat-raised-button color="warn" id="annul-UI-state-bttn" (click)="annul_UI_state_func()">
    <span>Annul UI state</span>
</button>

<table>
    <tbody>
        <tr>
            <td>⬛</td>
            <td>⭕</td>
            <td>⬛</td>
            <td>⭕</td>
            <td>⬛</td>
            <td>⭕</td>
            <td>⬛</td>
            <td>🔴</td>
            <td>⬛</td>
            <td>⭕</td>
            <td>⬛</td>
            <td>⭕</td>
            <td>⬛</td>
            <td>⭕</td>
            <td>⬛</td>
        </tr>
        <tr>
            <td>⭕</td>
            <td>⬛</td>
            <td>⭕</td>
            <td>⬛</td>
            <td>⭕</td>
            <td>⬛</td>
            <td>⭕</td>
            <td>⬛</td>
            <td>⭕</td>
            <td>⬛</td>
            <td>⭕</td>
            <td>⬛</td>
            <td>⭕</td>
            <td>⬛</td>
            <td>⭕</td>
        </tr>
        <tr>
            <td>⬛</td>
            <td>⭕</td>
            <td>⬛</td>
            <td>⭕</td>
            <td>⬛</td>
            <td>⭕</td>
            <td>⬛</td>
            <td>⭕</td>
            <td>⬛</td>
            <td>⭕</td>
            <td>⬛</td>
            <td>⭕</td>
            <td>⬛</td>
            <td>⭕</td>
            <td>⬛</td>
        </tr>
        <tr>
            <td>⭕</td>
            <td>⬛</td>
            <td>⭕</td>
            <td>⬛</td>
            <td>⭕</td>
            <td>⬛</td>
            <td>⭕</td>
            <td>⬛</td>
            <td>⭕</td>
            <td>⬛</td>
            <td>⭕</td>
            <td>⬛</td>
            <td>⭕</td>
            <td>⬛</td>
            <td>⭕</td>
        </tr>
        <tr>
            <td>⬛</td>
            <td>⭕</td>
            <td>⬛</td>
            <td>⭕</td>
            <td>⬛</td>
            <td>⭕</td>
            <td>⬛</td>
            <td>⭕</td>
            <td>⬛</td>
            <td>⭕</td>
            <td>⬛</td>
            <td>⭕</td>
            <td>⬛</td>
            <td>⭕</td>
            <td>⬛</td>
        </tr>
        <tr>
            <td>⭕</td>
            <td>⬛</td>
            <td>⭕</td>
            <td>⬛</td>
            <td>⭕</td>
            <td>⬛</td>
            <td>⭕</td>
            <td>⬛</td>
            <td>⭕</td>
            <td>⬛</td>
            <td>⭕</td>
            <td>⬛</td>
            <td>⭕</td>
            <td>⬛</td>
            <td>⭕</td>
        </tr>
        <tr>
            <td>⬛</td>
            <td>⭕</td>
            <td>⬛</td>
            <td>⭕</td>
            <td>⬛</td>
            <td>⭕</td>
            <td>⬛</td>
            <td>⭕</td>
            <td>⬛</td>
            <td>⭕</td>
            <td>⬛</td>
            <td>⭕</td>
            <td>⬛</td>
            <td>⭕</td>
            <td>⬛</td>
        </tr>
        <tr>
            <td>⬛</td>
            <td>⚓</td>
            <td>⬛</td>
            <td>⚓</td>
            <td>⬛</td>
            <td>⚓</td>
            <td>⬛</td>
            <td>⚓</td>
            <td>⬛</td>
            <td>⚓</td>
            <td>⬛</td>
            <td>⚓</td>
            <td>⬛</td>
            <td>⚓</td>
            <td>⬛</td>
        </tr>
        <tr>
            <td>⬛</td>
            <td>⚓</td>
            <td>⬛</td>
            <td>⚓</td>
            <td>⬛</td>
            <td>⚓</td>
            <td>⬛</td>
            <td>⚓</td>
            <td>⬛</td>
            <td>⚓</td>
            <td>⬛</td>
            <td>⚓</td>
            <td>⬛</td>
            <td>⚓</td>
            <td>⬛</td>
        </tr>
        <tr>
            <td>⬛</td>
            <td>⚓</td>
            <td>⬛</td>
            <td>⚓</td>
            <td>⬛</td>
            <td>⚓</td>
            <td>⬛</td>
            <td>⚓</td>
            <td>⬛</td>
            <td>⚓</td>
            <td>⬛</td>
            <td>⚓</td>
            <td>⬛</td>
            <td>⚓</td>
            <td>⬛</td>
        </tr>
        <tr>
            <td>⬛</td>
            <td>⚓</td>
            <td>⬛</td>
            <td>⚓</td>
            <td>⬛</td>
            <td>⚓</td>
            <td>⬛</td>
            <td>⚓</td>
            <td>⬛</td>
            <td>⚓</td>
            <td>⬛</td>
            <td>⚓</td>
            <td>⬛</td>
            <td>⚓</td>
            <td>⬛</td>
        </tr>
        <tr>
            <td>⬛</td>
            <td>⚓</td>
            <td>⬛</td>
            <td>⚓</td>
            <td>⬛</td>
            <td>⚓</td>
            <td>⬛</td>
            <td>⚓</td>
            <td>⬛</td>
            <td>⚓</td>
            <td>⬛</td>
            <td>⚓</td>
            <td>⬛</td>
            <td>⚓</td>
            <td>⬛</td>
        </tr>
        <tr>
            <td>⬛</td>
            <td>⚓</td>
            <td>⬛</td>
            <td>⚓</td>
            <td>⬛</td>
            <td>⚓</td>
            <td>⬛</td>
            <td>⚓</td>
            <td>⬛</td>
            <td>⚓</td>
            <td>⬛</td>
            <td>⚓</td>
            <td>⬛</td>
            <td>⚓</td>
            <td>⬛</td>
        </tr>
        <tr>
            <td>⬛</td>
            <td>⚓</td>
            <td>⬛</td>
            <td>⚓</td>
            <td>⬛</td>
            <td>⚓</td>
            <td>⬛</td>
            <td>⚓</td>
            <td>⬛</td>
            <td>⚓</td>
            <td>⬛</td>
            <td>⚓</td>
            <td>⬛</td>
            <td>⚓</td>
            <td>⬛</td>
        </tr>
        <tr>
            <td>⬛</td>
            <td>⚓</td>
            <td>⬛</td>
            <td>⚓</td>
            <td>⬛</td>
            <td>⚓</td>
            <td>⬛</td>
            <td>⚓</td>
            <td>⬛</td>
            <td>⚓</td>
            <td>⬛</td>
            <td>⚓</td>
            <td>⬛</td>
            <td>⚓</td>
            <td>⬛</td>
        </tr>
        <tr>
            <td>⬛</td>
            <td>⚓</td>
            <td>⬛</td>
            <td>⚓</td>
            <td>⬛</td>
            <td>⚓</td>
            <td>⬛</td>
            <td>⚓</td>
            <td>⬛</td>
            <td>⚓</td>
            <td>⬛</td>
            <td>⚓</td>
            <td>⬛</td>
            <td>⚓</td>
            <td>⬛</td>
        </tr>
        <tr>
            <td>⬛</td>
            <td>⚓</td>
            <td>⬛</td>
            <td>⚓</td>
            <td>⬛</td>
            <td>⚓</td>
            <td>⬛</td>
            <td>⚓</td>
            <td>⬛</td>
            <td>⚓</td>
            <td>⬛</td>
            <td>⚓</td>
            <td>⬛</td>
            <td>⚓</td>
            <td>⬛</td>
        </tr>
        <tr>
            <td>⬛</td>
            <td>⚓</td>
            <td>⬛</td>
            <td>⚓</td>
            <td>⬛</td>
            <td>⚓</td>
            <td>⬛</td>
            <td>⚓</td>
            <td>⬛</td>
            <td>⚓</td>
            <td>⬛</td>
            <td>⚓</td>
            <td>⬛</td>
            <td>⚓</td>
            <td>⬛</td>
        </tr>
    </tbody>
</table>